<ngb-tabset [destroyOnHide]="false">
  <ngb-tab title="Requests">
    <ng-template ngbTabContent>
      <requests-table></requests-table>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Submit A Request">
    <ng-template ngbTabContent>
      <div class="card" *ngIf="form_position == 0">
        <form [formGroup]='location_form' (ngSubmit)='get_passes()'>
          <h1>Where are you at?</h1>
          <label>
            Latitude:
            <input type="number" formControlName='latitude'>
          </label>

          <label>
            Longitude:
            <input type="number" formControlName='longitude'>
          </label>

          <input class="btn btn-primary" type="submit" value="Get available times">
        </form>
      </div>

      <div class="card" *ngIf="form_position == 1">
        <form [formGroup]='time_form' (ngSubmit)='post_reqest()'>
          <h1>When would you like to see OreSat?</h1>
          <label>
            <p>Available Orbital Passes:</p>

            <p><i>These are a list of times OreSat will be over your area.</i></p>
            <select aria-labelledby="dropdownBasic1" formControlName='pass'>
              <option *ngFor="let pass of available_passes; let i = index">{{i + 1}}: {{pass.aos_utc | date: 'short'}} - {{ pass.los_utc | date: 'h:mm a' }}</option>
            </select>

          </label>
          <input class='btn btn-success' type="submit" value='Request Orbital Pass'>
        </form>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
